<!DOCTYPE html>
<html lang="en">
<head>
  <title>Exprerss Project</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body class="bg-info">
    <div class="row">
        <div class="col-md-8 offset-md-2" style=" box-shadow:5px 5px 10px; background-color:#fff; margin-top:30px; padding:20px;">
            {{{body}}}
        </div>
    </div>
</body>
</html>
